@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@300;400;500&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: calc(100vh - 164px);
    color: #000;
    /*font-family: 'Montserrat', sans-serif;*/
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.header {
    background-color: #662C10;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    align-items: center;
    padding: 1% 1% 1% 1%;
}

.nav-logo {
    font-size: 280%;
    opacity: 1;
}

.nav-logo img {
    float: left;
    width: 100px;
    height: 100px;
}

#topnav {
    display: flex;
    justify-content: space-evenly;
    font-family: "Montserrat";
}

#topnav header {
    margin-left: auto; /* This brings the menu to the left side */
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilize os itens do menu para ficarem lado a lado */
.navbar-links li {
    display: inline; /* Os itens ficarão na mesma linha */
    margin-right: 20px; /* Espaçamento entre os itens do menu */
}

.nav-item {
    padding-right: 1rem;
    padding-left: 1rem;

}

.active {
    font-size: 25px;
    font-weight: 600;
    color: 	#759b84;
    text-decoration: none;
}

.active a {
    margin-right: 20px; /* This provides space between the menu items */
    padding-left: 10px;
    color: #7F9E86;
}

/* Carousel slides */
#productCarousel {
    width: 100%;
}

#productCarousel img {
    width: 100%;
    height: auto; /* Maintains the original aspect ratio */
}

.carousel-slide {
    display: block;
    padding: 1.5rem;
    position: relative;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border: solid #dee2e6;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

/* Previous and Next Buttons */
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
}

/* Categories */
#category-container {
    background-color: #DDB166;
    padding-bottom: 3rem;
}

.category-grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.25rem;

}

h3 {
    font-size: 1.75rem;
}



/* Footer starts here */
.footer {
    padding: 10px;
    background-color: #662C10;
    color:#759b84;
}

.social-network {
    text-align: center;
}

.social-network > li {
    display: inline;
}

.social-network i {
    padding: 25px;
    color: #759b84;
}

#footer {
    color: #759b84;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}


/* Media queries */
/* For screens larger then 600px: makes 2 colums */
@media (min-width: 600px) {
    .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    }
}

/* For screens larger then 000px: makes 3 colums */
@media (min-width: 900px) {
    .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    }
}