@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: overlay;
  }

  main {
    flex: 1 0 auto;
  }

  h1 {
    text-transform: capitalize;
    font-weight: bolder;
    filter: drop-shadow(black 1px 1px 1px);
  }

  p, label{
    font-weight:bold;
    margin: 0.2rem;
    filter: drop-shadow(black 1px 1px 1px);
  }

  #search {
    border: 1px solid blue;
    color: blue;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s ease;
  }
  #search:hover {
    background-color: blue;
    color: #fff;
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
  }

  .list li{
    display: inline-flex;
    /* list-style-type: disc; */
    list-style-position: inside;
    margin: 0.8rem;
    cursor: pointer;
    position: relative;
    line-height: 24px;
    filter: drop-shadow(black 1px 1px 1px);
  }
  .list li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    bottom: -3px;
    transition: 0.3s;
  }
  .list li:hover::before {
    background-color:  white;
    width: 100%;
    left: 0;
  }

  form {
    display: grid;
    margin: 0.2rem;
    grid-gap: 0.5rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    background: linear-gradient(to right, #fff, lightskyblue );
    padding: 0.2rem;
    border-radius: 0.2rem;
    color: black;
  }

  i, #btn {
    color: #fff;
    filter: drop-shadow(1px 1px 1px black);
    border: none;
  }

  #x {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s ease;
    border-radius: 15px;
    /* outline: 2px solid rgba(0, 0, 0, 0.5); */
    padding: 3px 5px;
    background: rgba(0, 0, 0, 0.2);;
    color: #fff;
  }
  #x:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    background: white;
    color: red;
  }

  .socials, #btn {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s ease;
  }

  #btn:hover {
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    background-color: mediumblue;
  }

  .socials:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }

  #card {
    background-image: url(/Assets/endless.jpg); /*  top center no-repeat fixed padding-box content-box red; */
    opacity: 0.8;
    background-position: center;
    border: 3px solid #333;
    border-radius: 2rem;
    margin: auto;
   /*  padding: 2rem; */
    box-shadow: 0 10px 15px, rgba(0, 0, 0, 0.8);
  }

  .container {
    filter: drop-shadow(1px 1px 1px black);
  }

  .title {
    display: inline-flex;
    flex-direction: row;
  }

  /* #socials {
    display: flex;
    justify-content: center;
  } */
  #cont {
    overflow: hidden;
  }
  #logo{
    transition: 2s;
  }
  #logo:hover{
    transform: scale(1.1);
  }