@media (max-width: 767.98px) {
  .border-sm-start-none {
    border-left: none !important;
  }
}
.product-card {
  min-height: 350px; /* Set the minimum height for each card */
  margin: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product-image {
  max-height: 150px; /* Set the maximum height for product images */
  object-fit: cover; /* Ensure the image covers the container */
  
}
 
