
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Audiowide", sans-serif;*/
  }
  /*
  body {
    font-size: 16px;
    background-color: #ebe5d5;
    text-align: center;
  }*/
  
   .card{
    /*border: 1px solid #3AA383 !important;*/
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
   box-shadow:  7px 37px -8px #3AA383 !important;
   /*overflow: hidden;*/
   background-color: rgb(245, 236, 209);

  } 
  .card-img-top{
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 20px !important; 
    height: 200px !important;
    
  }
  .card:hover 
  {
    box-shadow:9px 8px 21px -8px #3AA383;
  }
  
  .btn:hover{
    background-color: #96772e;
  }
 
  
  @media (max-width: 575px) {
    body {
        height: 380vh;
    }
  }

  @media (min-width: 575px) and (max-width: 768px) {
    body {
      height: 160vh;
    }
  }


  /*--------------------------------------------------------------------*/
/*
  .card {
    width: 300px; 
    border: 1px solid #ccc;
    margin: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    max-height: 3em; 
    overflow: hidden;
}

.read-more-button {
    display: none;
}

.card:hover .read-more-button {
    display: block;
}
   */
  
  /* Style für den Container der Kräuter *
.herb {
  border: 1px solid #c14d4d;
  padding: 10px;
  margin: 10px;
  text-align: center;

}

/* Style für die Kräuterbilder *
.herb img {
  max-width: 100%;
  height: auto;
}

/* Style für den Namen der Kräuter *
.herb h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Style für den Preis der Kräuter *
.herb h4 {
  font-size: 1rem;
  color: #007bff;
}

/* Style für das Ablaufdatum der Kräuter *
.herb h4:last-child {
  color: #555;
}
 
 */ 
  /*--------------------------------------------------------------------*/
  #buttons{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }
  .btn{
    position: relative;
    background-color:#3AA383;
    border:none;
  }

h1, h2{
  color :#875f01;
  text-align: center;
  margin: 40px 10px 20px 10px;
}
.button-gallery{
  color: white;
  background-color: #3AA383;
  text-align: center;
  border:none;
  padding: 10px 20px;
  margin: 10px 10px 30px 10px;
  border-radius: 8px;
  width: 200px;
}

.page-link{
  color :#3AA383;
  border: 1px solid #3AA383;
}
.disabled>.page-link{
  color:white !important;
  background-color: #3AA383 !important;
  border: 1px solid#3AA383 !important;
}

.pagination{
--bs-pagination-hover-border-color:#3AA383;
--bs-pagination-focus-color:#96772e;
--bs-pagination-focus-box-shadow: 0 0 0 0.25rem #3AA383;

}
.table{
  
 margin-bottom: 40px;
}
th{
  color:white !important;
  background-color: #3AA383 !important;
}


