
  .btn-productList {
    padding: 10px 20px;
    border-radius: 8px;
   font-size: medium;
    background-color: #80d3b3;
    margin: 10px;
  }
  .product-list{
    text-align: center;
  }
  .product-heart{
    text-align: right;
    margin-right: 20px;
    padding: 5px;
}

  /*-------------- Media Mobil----------------*/
@media (max-width: 575px) {
  body {
      height: 380vh;
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  body {
    height: 160vh;
  }
}


@media (max-width: 730px) {
   .toggle_button1 {
    display: flex;
    margin: 18px 15px 0px 0px ;
    z-index: 1000;
  }
 
nav.nav-links ul {
    height: min-content;
    width: 100%;
    background: var(--background-color);
    z-index: 999;
    display: none;
    position: absolute;
    top: 120px;

  }

  nav.nav-links li {
    height: min-content;
    width: 100%;
  }

 #toggle_button1:checked ~  ul {
    display: block;
  }
  .search-container{
  float:inline-start;
  margin-left: 50px;
  margin-top: 12px;
  border: 1px solid  rgba(79, 53, 48, 1);
  cursor: pointer;
  border-radius: 12px;
}
#companyName{
  
  color:rgba(112, 96, 94, 0.92);
  font-family: "Kalam", sans-serif;
  width: 100%;
  margin-left: 10px;
  text-align: center;
  }
  .navbar1 li a{
    text-indent:100%;
    overflow: hidden;
    width:40px;
  }
  .navbar1 ul{
    padding-right: 20px;
  }
  
}
@media (max-width: 500px) {
  #companyName{
    font-size: 14px !important;
    font-weight: bold;
    text-transform: uppercase;

  }
  
}
  @media (min-width: 500px) and (max-width: 800px) {
    #companyName{
      font-size: 25px !important;
      font-weight: bold;
      text-transform: uppercase;
  
    }
}