/* .App {
  text-align: center;
} */
/*

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */

/*----------------------- my css ----------------------*/

:root {
  --background-color:rgba(231, 219, 205, 1);
  --heller-background-color: rgb(246, 245, 243);
  --accent-color: rgb(247, 247, 250);
  --text-color: rgba(79, 53, 48, 1);
  --navbar-height: 60px;
  --logo-herbs-color:#44ae5d;
  --logo-spices-color:#ff8205;
  --button-color:rgba(112, 96, 94, 0.92);
  --button-hover-color:#8DB596;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-size: 22;
   
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
}
body{
  background-color: var(--heller-background-color);
}
/*--------* Header *------*/
.header {
  height: var(--navbar-height);
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar1 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar1 li {
  margin-right: 30px; /* Abstand zwischen den Listenelementen */
 
}

.navbar1 li a {
  text-decoration: none;
  color: var(--text-color);
  display: inline-flex;
  align-items: center; 
  white-space: nowrap; /* Verhindert Zeilenumbrüche im Text */
 }
.header a:hover {
  color: var(--logo-spices-color) !important;
}

#companyName .green{
  font-family: "Kalam", sans-serif;
  color: var(--logo-herbs-color);
}

#companyName .orange{
  font-family: "Kalam", sans-serif;
  color:var(--logo-spices-color);
}

#companyName{
  font-size: 40px !important;
  font-weight: bold;
  color:rgba(112, 96, 94, 0.92);
  font-family: "Kalam", sans-serif;
  width: 100%;
  margin-left: 50px;
  text-align: left;
  text-decoration: none;
  font-size: 24px; /* Beispiel-Schriftgröße */
}

i{
  padding-right: 5px;
}

/* -----------------Navbar ----------------*/
.nav-links{
  overflow:hidden;
  background-color: white;
  box-shadow:inset 0px 5px 5px 0px var(--button-color);
  border-bottom: 1px solid #A68DAD;
  height: var(--navbar-height) !important;
}

.nav-links ul{
list-style: none;
}

.nav-links ul li{
  float:left;
  display:block;
  text-align: center;
  margin-top: 10px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px; 
}

.nav-links li a{ 
  color:rgba(79, 53, 48, 1); 
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover{
  
  color: var(--logo-herbs-color) !important;
}

.nav-links input[type=text] {
  padding: 6px;
  color:var(--text-color);
  font-size: 14px;
  border: none;
  border-radius: 12px;
}

.nav-links input::placeholder{
  color:rgba(79, 53, 48, 1);
}

.search-container{
  float: right;
  margin: 0px 30px 10px 0px;
  border: 1px solid  rgba(79, 53, 48, 1);
  cursor: pointer;
  border-radius: 12px;
}

.nav-links .search-container button {
  float: right;
  margin: 8px 8px 0px 0px;
  background: #ffffff;
  font-size: 14px;
  border: none;
  cursor: pointer;  
}

.fa{
  font-size: 20px;
  color:rgba(79, 53, 48, 1);
}
nav.nav-links input[type="checkbox"] {
  display: none;
}

.toggle_button1 {
  width: 30px;
  height: 23px;
  position: absolute;
  right: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
 .bar1 {
  height: 4px;
  width: 100%;
  background: var(--text-color);
  border-radius: 100px; 
}

/*---------------------Search Bar----------*/
.custom-search-container input[type="text"] {
  transition: border-color 0.3s ease; 
  outline: none; 
}

.custom-search-container:focus-within {
  border: 1px solid rgb(90, 153, 90);
  box-shadow: 0 3px 6px rgb(90, 153, 90);
}

/* -----------------Footer------------------ */
.footer>p{
  margin:0px;
  font-size: 12px;
}

.footer {
  background-color: rgba(112, 96, 94, 0.92);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-bottom: 10px;   
}

.footer1line a{
  text-decoration: none;
  font-size:16px ;
  color: rgba(255, 255, 255, 1); 
}

.footer1line{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer1line li{
  width: 80%;
  text-align: center;
  position: relative;
  height: min-content;
  padding: 5px;
}

/*------------ Products card ----------*/
.card{
  /* border: 1px solid #3AA383 !important; */
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
 /*overflow: hidden;*/
 background-color: var(--background-color);
 transition:  box-shadow 0.3s, z-index 0.3s; 
 color: var(--text-color);

} 
.card-img-top{
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 20px !important; 
  height: 200px !important;
}
.card:hover 
{
  box-shadow: 0px 1px 15px 1px var(--button-hover-color);
  border-color: var(--button-hover-color); 
  background-color: white;
  transform: scale(1.01); 
  z-index: 1;
}

.btn{
  position: relative;
  background-color:var(--button-color);
  border:none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover{
  background-color: var(--button-color)!important;
}

.products-list{
  color:rgba(79, 53, 48, 1);
  text-align: center;

}
.bg-color{
background-color: var(--button-hover-color);
}
.card-title{
  color: var(--logo-spices-color);
}
.categories {
  color: var(--text-color);
  background: white !important;
  border: inset 2px  var(--button-color);

}
select option:checked,select  {
  border: inset 2px  var(--button-color) !important;
}
.container.mt-5 h1{
  color: var(--text-color);
}

/*-------------- Media Mobil----------------*/
@media (max-width: 575px) {
  body {
      height: 380vh;
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  body {
    height: 160vh;
  }
}


@media (max-width: 730px) {
   .toggle_button1 {
    display: flex;
    margin: 18px 15px 0px 0px ;
    z-index: 1000;
  }
 
nav.nav-links ul {
    height: min-content;
    width: 100%;
    background: var(--background-color);
    z-index: 999;
    display: none;
    position: absolute;
    top: 120px;

  }

  nav.nav-links li {
    height: min-content;
    width: 100%;
  }

 #toggle_button1:checked ~  ul {
    display: block;
  }
  .search-container{
  float:inline-start;
  margin-left: 50px;
  margin-top: 12px;
  border: 1px solid  rgba(79, 53, 48, 1);
  cursor: pointer;
  border-radius: 12px;
}
#companyName{
  
  color:rgba(112, 96, 94, 0.92);
  font-family: "Kalam", sans-serif;
  width: 100%;
  margin-left: 10px;
  text-align: center;
  }
  .navbar1 li a{
    text-indent:100%;
    overflow: hidden;
    width:40px;
  }
  .navbar1 ul{
    padding-right: 20px;
  }
  
}
@media (max-width: 500px) {
  #companyName{
    font-size: 14px !important;
    font-weight: bold;
    text-transform: uppercase;

  }
  
}
  @media (min-width: 500px) and (max-width: 800px) {
    #companyName{
      font-size: 25px !important;
      font-weight: bold;
      text-transform: uppercase;
  
    }
}


/*---------------- Sing In Form ----------*/
.formContainer{
  border: 1px solid  #A99B8A;
  /* */
  padding:30px;
  box-shadow: inset 10px 11px 5px 0px #A99B8A;
 margin: 50px;
 color:var(--text-color);
 
}
.formContainer h4{
  color:#915a9e ;
}
.formContainer .col-md-6{
  padding: 10px 50px;
}
.btn-form{
  padding: 6px 25px;
  color: white;
  background-color:var(--button-color);
  border: none;
  border-radius: 8px;
  font-size: 20px;
}
.btn-form:hover{
background-color: var(--button-hover-color);
}

select#salutation, select#customer_type,.formContainer input {
  color: var(--text-color);
  border-color:var(--text-color);
  border-radius: 8px;;
}
.formContainer select{
  padding: 5px;
 background-color:var(--background-color);
}
select:focus {
 
  outline: 1px solid rgb(90, 153, 90); 
  background-color: white;
  box-shadow: 0 3px 6px rgb(90, 153, 90);
}

.form-control:focus-within {
  border: 1px solid rgb(90, 153, 90);
  box-shadow: 0 3px 6px rgb(90, 153, 90);
  color:var(--text-color);
}

form hr {
  color: #6e1083 ;
  
  
}

/*----------CustomModal----------*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Hintergrund-Overlay-Farbe */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mmodal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color:var(--text-color);
}
/*---------FilterFunc-------*/
.img-fluid{
  height: 300px;
  width: 300px;
}
