* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Ropa Sans", sans-serif;
    color: rgb(138, 129, 129);
}

.main-wrapper {
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart {
    display: inline;
}
.hidden {
    display: none;
}

#shopping-cart {
    right: -30%;
    display: flex;
    justify-content: center;
    width: 75px;
    height: 90px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    position: relative;
    z-index: 1;
}

#shopping-cart img {
    object-fit: scale-down;
    position: absolute;
    z-index: 2;
}

#cart-quantity {
    position: absolute;
    display: flex;
    justify-content: center;
    color: goldenrod;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 30%;
    left: 40%;
    z-index: 10;
}

.product-card-container {
    border: 1px solid gray;
    border-radius: 4px;
    width: 60vw;
    height: auto;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 13px 15px 7px rgba(0, 0, 0, 0.1);
}

#carousel-wrapper {
    order: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.carousel-indicators #slide {
    width: 600px;
    height: 400px;
    object-fit: fill;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(199, 196, 196);
    border-radius: 30px;
    margin: 0;
}
.product-info-container {
    order: 2;
    margin: 20px;
    padding: 20px;
}

.product-info-container h1 {
    margin-bottom: 25px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    color: gray;
}

#table-container {
    display: grid;
}

.product-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 15px;
}

#table-container button {
    border: 1 black solid;
    border-radius: 3px;
    width: 100px;
    height: 60px;
}

th {
    background-color: rgb(240, 240, 240);
    color: gray;
    padding-top: 15px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-field {
    text-align: left;
    vertical-align: top;
}

.select {
    background-color: transparent;
}

option[value="blue"] {
    background-color: blue;
    color: transparent;
}

option[value="red"] {
    background-color: rgb(255, 0, 0);
    color: transparent;
}

option[value="olive"] {
    background-color: rgb(1, 51, 28);
    color: transparent;
}

option[value="black"] {
    background-color: rgb(0, 0, 0);
    color: transparent;
}

#display-products-thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

#thumbnail-container {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 15px;
}

#filters {
    width: 100vh;
    height: 50px;
    padding-top: 10px;
}

#thumbnail {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
}

#thumbnail img {
    width: 100%;
    margin: 5px;
}

#thumbnail p {
    padding-top: 10px;
}
